@page "/register"
@using System.ComponentModel.DataAnnotations
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<form action="action_page.php" method="post" class="signin">
    <div class="imgcontainer">
        <img src="/Images/Stonks-Memes10-1.png" alt="Avatar" class="avatar" id="poza">
    </div>

    <div class="signincontainer">
        <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="uname"><b>First Name</b></label>
                <InputText @bind-Value="model.FirstName" placeholder="Surname" name="uname" required class="signininput" />
                <ValidationMessage For="@(() => model.FirstName)" />
            </div>

            <div class="form-group">
                <label for="uname"><b>Last Name</b></label>
                <InputText @bind-Value="model.LastName" placeholder="Name" name="uname" required class="signininput" />
                <ValidationMessage For="@(() => model.LastName)" />
            </div>

            <div class="form-group">
                <label for="psw"><b>Password</b></label>
                <InputText @bind-Value="model.Password" type="password" placeholder="Enter Password" name="psw" required class="signininput" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>

            <div class="form-group">
                <label for="email"><b>Email</b></label>
                <InputText @bind-Value="model.Email" type="email" placeholder="Enter Email" name="psw" required class="signininput" />
                <ValidationMessage For="@(() => model.Email)" />
            </div>

            <button class="btn btn-primary signinbutton" type="submit">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Register
            </button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </EditForm>
    </div>

    <div class="signincontainer" style="background-color:#f1f1f1">
        @*<span class="cnacelbtn signinbutton" id="cancelbtn"><NavLink href="signin">Cancel</NavLink></span>*@
        <button type="button" class="cancelbtn signinbutton" id="cancelbtn"><NavLink href="signin">Cancel</NavLink></button>
        @*<span class="psw"><NavLink href="signin">Sign In</NavLink></span>*@
    </div>
</form>

@code {
    private Model model = new Model();
    private bool loading;
    private string error;

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }

    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            await AuthenticationService.Register(model.FirstName, model.LastName, model.Password, model.Email);
            
            NavigationManager.NavigateTo("login");
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }

    private class Model
    {
        [Required]
        public string Email { get; set; }

        [Required]
        public string Password { get; set; }

        [Required]
        public string FirstName { get; set; }

        [Required]
        public string LastName { get; set; }
    }
}