<Blazorise.ThemeProvider Theme="@theme">
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<AppRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</Blazorise.ThemeProvider>


@code{
	private Theme theme = new Theme
	{
		ColorOptions = new ThemeColorOptions
		{
			Primary = "#84BFCC",
			Secondary = "#CCC470",
			Light = "#CC99AD",
			Dark = "#467580",
		},
		IsGradient = true,
		IsRounded = true,
		DropdownOptions = new ThemeDropdownOptions
		{
			BorderRadius = "0.5px",
			GradientBlendPercentage = 0.5f,
		},
		
	};

	protected override async void OnInitialized()
	{
		theme.ThemeHasChanged();
	}
}